In [1]:
import pandas as pd
import pickle

In [2]:
qcut_df = pd.read_csv('/home/smart01/SFLAB/su_GTM_t/GTM_T_sanguk/qcut_df_bin10.csv', index_col='품번')
qcut_df

          sales_mean  qcut_label
품번
JPOP123A    4.833333           0
JPOP123B    5.833333           1
JPOP123C    6.166667           1
JPOP123D    1.083333           0
JPOP221A    0.500000           0
...              ...         ...
MWPT71A1   65.666667           7
MWPT71A2   49.666667           6
MWPT71A3   13.166667           3
MWPT71B1   29.083333           5
MWPT71B2   22.000000           4

[1736 rows x 2 columns]

In [ ]:
df = qcut_df.copy()
df['qcut_label'] = pd.cut(qcut_df['sales_mean'], bins=10, labels=range(0,10))
df.to_csv('/home/smart01/SFLAB/su_GTM_t/GTM_T_sanguk/qcut_value_df_bin10.csv')
pd.read_csv('/home/smart01/SFLAB/su_GTM_t/GTM_T_sanguk/qcut_value_df_bin10.csv', index_col='품번')

In [13]:
test_list = pickle.load(open("/home/smart01/SFLAB/su_GTM_t/GTM_T_sanguk/12salesweek_test_item_number296.pkl", 'rb')).drop("MTPT6102")[:]
train_list = df.index[~df.index.isin(test_list)]
train_df = df.loc[train_list]
test_df = df.loc[test_list]

In [14]:
train_df.qcut_label.value_counts()

qcut_label
0    1267
1     106
2      27
3      15
4      10
7       6
5       5
6       3
8       1
9       1
Name: count, dtype: int64

In [15]:
test_df.qcut_label.value_counts()

qcut_label
0    256
1     24
2      5
3      4
5      2
4      1
6      1
8      1
9      1
7      0
Name: count, dtype: int64